<clr-modal
[(clrModalOpen)]="show"
[clrModalSize]="'lg'"
[clrModalClosable]="true"
>
<div class="modal-body">
    <app-stepper-form #child></app-stepper-form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onShow()" (click)="child.reset()" >Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onShow()" (click)="child.reset()" (click)="child.convert()">Ok</button>
   
</div>
</clr-modal>







