<div class="btn-group">
        <div class="radio btn">
            <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-1">
            <label for="btn-demo-radio-1">CPU</label>
        </div>
        <div class="radio btn">
            <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-2">
            <label for="btn-demo-radio-2">GPU</label>
        </div>
    </div>