<form clrStepper [formGroup]="form"  >
  <clr-stepper-panel formGroupName="stepper1" #wizard >
    <clr-step-title>Stepper 1</clr-step-title>
    <clr-step-content>    
      <p><b>Select your work environment*</b></p>
      <clr-radio-wrapper>
          <input type="radio" clrRadio value="Docker Single Node" formControlName="type" (click)="buttonClick('Docker Single Node')" required/>
          <label>Docker Single Node</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
          <input type="radio" clrRadio value="EMR" formControlName="type" (click)="buttonClick('EMR')" required/>
          <label>EMR</label>
      </clr-radio-wrapper>
      <button clrStepButton="next" (click)="onSubmit(form.value)" [disabled]="form.invalid">next</button>
    </clr-step-content>
  </clr-stepper-panel>
  
  <clr-stepper-panel formGroupName="stepper2" #stepper >
    <clr-step-title>Stepper 2</clr-step-title>
    <clr-step-content *clrIfExpanded = "true">
      <app-modal [parentData]=stepper_number (submitStepper)="submit($event)"></app-modal>
      </clr-step-content>
    </clr-stepper-panel>

    <clr-stepper-panel formGroupName="stepper3" #stepper>
        <clr-step-title>Stepper 3</clr-step-title>
        <clr-step-content *clrIfExpanded>
          <div *ngIf="option=== 'Docker Single Node'">
            <app-modal [parentData]=stepper_number3 (submitStepper)="submit($event)" ></app-modal>
          </div>
          <div *ngIf="option=== 'EMR'">
              <app-modal [parentData]=stepper_number6 (submitStepper)="submit($event)" ></app-modal>
            </div>
        </clr-step-content>
      </clr-stepper-panel>
    
    <clr-stepper-panel formGroupName="stepper4" #stepper>
        <clr-step-title>Stepper 4</clr-step-title>
        <clr-step-content *clrIfExpanded>
            <app-modal [parentData]=stepper_number4 (submitStepper)="submit($event)"></app-modal>
        </clr-step-content>
      </clr-stepper-panel>

      <clr-stepper-panel formGroupName="stepper5" #stepper>
          <clr-step-title>Stepper 5</clr-step-title>
          <clr-step-content *clrIfExpanded = "true">
              <app-modal [parentData]=stepper_number5 (submitStepper)="submit($event)"></app-modal>
              
          </clr-step-content>
        </clr-stepper-panel>      
  </form>