.button-class{
    border: none;
    background-color: transparent;
    outline: none;
    
}

btn btn-link btn-small{
    display: block
}


table {
    border: 2px solid#0077b8;
    width: 98%;
    margin-left: 10px;
    
}

/* .table th{
    font-size: 0.77rem;
    
} */
/* .table td{
    vertical-align: middle;
    /* font-size: 0.55rem; */

