<button class="btn btn-outline" (click)="onClick()"> Display modal</button> 
<app-display-modal [show]="showModal" (showAgain)="onShow($event)" ></app-display-modal>  
<table class="table">
        <thead  >
            <tr>
                <th *ngFor="let header of headers">{{header}}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detail of table; let i = index;">   
                <td class="center" *ngFor="let label of labels" >
                    <div *ngIf = "label != 'notebookLink' ">
                            {{detail[label]}}
                    </div>
                    <div *ngIf = "label === 'notebookLink'">
                        <a href="{{detail[label]}}">{{detail[label]}}</a>
                    </div>    
                </td>
                <td>
                 <button (click)="play(detail)"  class = "button-class"><clr-icon shape="play" class = "is-solid"></clr-icon></button>
                <button (click)="pause(detail)"  class = "button-class"> <clr-icon shape="pause" class = "is-solid"></clr-icon></button>
                <button (click)="delete(i, detail)" class = "button-class"> <clr-icon shape="trash" class = "is-solid"></clr-icon></button>         
                </td>
            </tr>
        </tbody> 
    </table>