@import url('https://fonts.googleapis.com/css?family=Lato');

body, html{
  height: 100%;
  background: #ffffff;
	font-family: 'Lato', sans-serif;
}


input[type=radio]:checked ~ label{
  color: rgb(24, 34, 170);
}   

