<html>
    <body>
<form [formGroup]="myForm"  >
    <div *ngFor="let detail of formDetails; let i = index; ">
        <clr-input-container *ngIf="detail.type !== 'radio' && detail.type !== 'dropdown'">
            <label><b>{{ detail.label }}</b></label>
            <input clrInput type="{{ detail.type }}" formControlName="{{ detail.property }}"required/>
            <clr-control-error>Input required</clr-control-error>
        </clr-input-container>

            <div *ngIf="detail.type === 'radio'">
                <p><b>{{ detail.label }}</b></p>
            <div *ngFor="let count  of buttonlist[detail.property]; let j = index; ">
                <clr-radio-wrapper>
                    <input type="radio" clrRadio value="{{buttonlist[detail.property][j]}}" formControlName="{{detail.property}}" />
                    <label>{{buttonlist[detail.property][j]}}</label>
                   
                </clr-radio-wrapper>
                <!-- <p></p> -->
                <div *ngIf="myForm.controls[detail.property].value === 'CPU'">
                    <p>hello</p>
                </div>


            </div>
            <!-- <p *ngIf="myForm.controls[detail.property].value === 'CPU'">hey</p> -->
            </div>

        <div *ngIf="detail.type === 'dropdown'">
            
            <div class="clr-form-control" >
             <label for="select-error" class="clr-control-label">{{detail.label}}</label>
                <div class="clr-control-container clr-error">
                    <div class="clr-select-wrapper" >
                    <select id="select-error" class="clr-select" formControlName="{{detail.property}}"> 
                        <option *ngFor="let count of dropdownlist[detail.property]; let j = index;"  value="{{dropdownlist[detail.property][j]}}">{{dropdownlist[detail.property][j]}}</option>
                    </select>    
                    </div>
                </div>
            </div>
         </div>      
        </div>
        <div *ngIf="user!== 'user'">
        <button clrStepButton="next" (click)="onSubmit(myForm.value)" [disabled]="myForm.invalid">Submit</button> 
        </div>
        <div *ngIf="user === 'user'">
                <button class=" btn btn-outline-primary" (click)="onSubmit(myForm.value)" [disabled]="myForm.invalid" >Submit</button> 
                </div>
        </form>
    </body> 
</html>

