
<clr-datagrid>

    <clr-dg-column  *ngIf="del"></clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'Team'">Team</clr-dg-column>
    <clr-dg-column [clrDgField]="'Project'">Project</clr-dg-column>
    <clr-dg-column>Designation</clr-dg-column>
    <clr-dg-column>Role</clr-dg-column>
    <clr-dg-column></clr-dg-column>
            <clr-dg-row *clrDgItems="let detail of table; let i = index;">
                <clr-dg-cell *ngIf="del"><input type="checkbox" clrCheckbox />
                </clr-dg-cell>
                <clr-dg-cell class="center">{{detail.Name}}</clr-dg-cell>
                <clr-dg-cell class="center">{{detail.Team}}</clr-dg-cell>
                <clr-dg-cell class="center">{{detail.Project}}</clr-dg-cell>
                <clr-dg-cell class="center">{{detail.Designation}}</clr-dg-cell>
                <clr-dg-cell class="center">{{detail.Role}}</clr-dg-cell>
                 <clr-dg-cell class="center">
                    <div> 
                     <clr-icon shape="pencil" class = "btn btn-link btn-sm" ></clr-icon>
                    </div>
                </clr-dg-cell>
            </clr-dg-row>
         
    </clr-datagrid>
    <div class="new">
            <!-- <a  class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a> -->
        <button class="btn btn-outline" routerLink="/user">Add </button>
        <button class="btn btn-outline" (click)="del=true">Delete </button>
    </div>