
 <!-- <button class="btn btn-outline" (click)="onClick()"> Display modal</button> 
<app-display-modal [show]="showModal" (showAgain)="onShow($event)" ></app-display-modal>         -->
 <!-- <router-outlet></router-outlet>  -->

<app-table-info></app-table-info>
<!-- <app-user-management></app-user-management> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-add-user></app-add-user> -->
<!-- <app-stepper-form></app-stepper-form> -->


<!-- <router-outlet></router-outlet> -->
