
            <form clrForm [formGroup]="profileForm" clrLayout="vertical">
                    <clr-input-container>
                        <label>Name</label>
                        <input clrInput type="text" formControlName="name" name="user_name" required />
                        <clr-control-error *clrIfError="'required'"> Name Required</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Contact Number</label>
                        <input clrInput type="text" formControlName="contact" name="user_contact" required/>
                        <clr-control-error *clrIfError="'required'">Contact Number Required</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Address</label>
                        <input clrInput type="text" formControlName="address" name="user_address" required />
                        <clr-control-error *clrIfError="'required'">Address Required</clr-control-error>
                    </clr-input-container>
                    <clr-password-container>
                            <input clrPassword placeholder="Password" name="password" formControlName="password" required />
                            <clr-control-error *clrIfError="'required'">Password Required</clr-control-error>
                    </clr-password-container>
                    <button clrStepButton="next" [disabled]="!profileForm.valid">next</button>
                </form>