<div *ngIf="parentData=== 'step-2'">
        <app-new-form [myForm]="stepper2form" [formDetails]="stepper2" [buttonlist]="buttonlist" [dropdownlist]="dropdownlist" (submitForm)="onSubmit($event)"></app-new-form>
</div>
<div *ngIf="parentData=== 'step-3'">
        <app-new-form [myForm]="stepper3form" [formDetails]="stepper3" [buttonlist]="buttonlist" [dropdownlist]="dropdownlist" (submitForm)="onSubmit($event)"></app-new-form>
</div>
<div *ngIf="parentData=== 'step-4'">
        <app-new-form [myForm]="stepper4form" [formDetails]="stepper4" [buttonlist]="buttonlist" [dropdownlist]="dropdownlist" (submitForm)="onSubmit($event)"></app-new-form>
</div>
<div *ngIf="parentData=== 'step-5'">
        <app-new-form [myForm]="stepper5form" [formDetails]="stepper5" [buttonlist]="buttonlist" [dropdownlist]="dropdownlist"(submitForm)="onSubmit($event)"></app-new-form>
</div>
<div *ngIf="parentData=== 'step-6'">
        <app-new-form [myForm]="stepper6form" [formDetails]="stepper6" [buttonlist]="buttonlist" [dropdownlist]="dropdownlist" (submitForm)="onSubmit($event)"></app-new-form>
</div>
<div *ngIf="parentData=== 'user'">
        <app-new-form [myForm]="userForm" [formDetails]="userPage" [buttonlist]="buttonlist" [dropdownlist]="dropdownlist" (submitForm)="onSubmit($event)" [user]="user"></app-new-form>
</div>